# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# -----------------------------------
# Ignore production source data
# -----------------------------------
data/source/

# Keep sample data
!data/sample/